<footer class="c-sitefooter" id="sitefooter">
  <div class="l-container  c-sitefooter__inner">
    <div class="c-sitefooter__logo">
      <p class="c-logo  c-logo--small"><a class="c-logo__link" href="/{{ locale }}/">{% include "svg/logo_footer.svg" %}</a></p>
    </div>
    <nav class="c-sitefooter__nav">
      {% for item in mainnav %}
        {% if loop.first %}<ul class="c-footernav">{% endif %}
          <li class="c-footernav__item"><a class="c-footernav__link" href="{{- item[locale].link -}}">{{ item[locale].label }}</a></li>
        {% if loop.last %}</ul>{% endif %}
      {% endfor %}
    </nav>
    <nav class="c-sitefooter__contact">
      <ul class="c-footernav">
        <li class="c-footernav__item"><a class="c-footernav__link" href="mailto:collapsologie@gmail.com">collapsologie@gmail.com</a></li>
        <li class="c-footernav__item"><a class="c-footernav__link" href="https://twitter.com/collapsology">{{ "Sur Twitter"|translate(locale) }}</a></li>
      </ul>
    </nav>
    <div class="c-sitefooter__credits">
      <div class="c-sitefooter__copyright">
        <p class="u-margin-bottom-none">Copyright &copy; Collapsology.info - {{ site.buildDate|date('YYYY') }}</p>
      </div>
      <div class="c-sitefooter__developer">
        <p class="u-margin-bottom-none">{{ "Site par"|translate(locale) }} <a href="https://www.webstoemp.com">Webstoemp</a></p>
      </div>
    </div>
  </div>
</footer>
