// ---------------------------
// =colors
// ---------------------------

.u-text-white {
  color: var(--color-white) !important;
}

.u-text-gray1 {
  color: var(--color-gray1) !important;
}

.u-text-gray2 {
  color: var(--color-gray2) !important;
}

.u-text-gray3 {
  color: var(--color-gray3) !important;
}

.u-text-gray4 {
  color: var(--color-gray4) !important;
}

.u-text-gray5 {
  color: var(--color-gray5) !important;
}

.u-text-gray6 {
  color: var(--color-gray6) !important;
}

.u-text-gray7 {
  color: var(--color-gray7) !important;
}

.u-text-gray8 {
  color: var(--color-gray8) !important;
}
