---
pagination:
  data: collections.books_fr
  size: 12
  alias: books
permalink: /{{ locale }}/livres/{% if pagination.pageNumber > 0 %}/page{{ pagination.pageNumber + 1 }}{% endif %}/index.html
translationKey: "booksPage"
pageTitle: "Quelques livres"
pageIntro: "Livres chaudement recommandés pour aborder la collapsologie au coin du feu, dans votre fauteuil favori."
---

{% extends "layouts/base.njk" %}

{% set metaTitle = pageTitle %}
{% set metaDescription = pageIntro %}
{% set metaImage = site.url ~ "/assets/img/social_media.jpg" %}
{% set currentSectionId = "books" %}

{% block content %}
<main>
  <div class="c-pagesection  c-pagesection--dark  u-padding-top-xl">
    <div class="l-container  l-container--narrow">
      <h1 class="c-h1  u-text-white">{{ pageTitle }}</h1>
      <p class="c-pageintro">{{ pageIntro }}</p>
    </div>
  </div>
  <div class="c-pagesection">
    <div class="l-container  l-container--narrow">

      {% for book in books %}
        {% if loop.first %}<ul class="l-grid  l-grid--gap  l-grid--2cols@small  l-grid--3cols@medium">{% endif %}

          <li>
            <article class="c-book">
              <div class="c-book__cover"><a href="{{- book.data.url -}}">
                <img src="/assets/img/books/_300x480/{{ book.data.cover }}"
                      srcset="/assets/img/books/_300x480/{{ book.data.cover }} 300w,
                              /assets/img/books/{{ book.data.cover }} 600w"
                      sizes="(min-width: 1344px) 300px,
                            (min-width: 1024px) 25vw
                            (min-width: 750px) 33vw,
                            (min-width: 500px) 50vw,
                            100vw"
                      class="o-fluidimage"
                      alt="{{ book.data.title }}">
              </a></div>
              <div class="c-book__body">
                <p class="c-book__author">{{ book.data.author }}</p>
                <h3 class="c-book__title  c-h4"><a href="{{- book.data.url -}}">{{ book.data.title }}</a></h3>
                <p class="c-book__data">{{ book.data.editor }} - {{ book.data.year }}</p>
              </div>
            </article>
          </li>

        {% if loop.last %}</ul>{% endif %}
      {% endfor %}

      {# pagination #}
      {% include "components/pagination.njk" %}

    </div>
  </div>
</main>
{% endblock %}
