---
permalink: /{{ locale }}/index.html
translationKey: "homePage"
pageTitle: "Accueil"
pageIntro: "Mieux comprendre les risques d'effondrement sociétaux et écologiques."
---

{% extends "layouts/base.njk" %}

{% set metaTitle = pageTitle %}
{% set metaDescription = pageIntro %}
{% set metaImage = site.baseUrl ~ "/assets/img/social_media.jpg" %}
{% set currentSectionId = "home" %}

{% from "macros/bookItem.njk" import bookItem %}
{% from "macros/linkItem.njk" import linkItem %}

{% block content %}
<main>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-84VH0QGZ15"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-84VH0QGZ15');
</script>

  <section class="c-pagesection  c-pagesection--dark  u-padding-top-xl  u-padding-bottom-none">
    <div class="l-container">

      <h1 class="c-tagline">Mieux comprendre les <span>risques d'effondrements</span> sociétaux et écologiques</h1>

    </div>
  </section>

  <section class="c-pagesection  c-pagesection--dark">
    <div class="l-container">

      <div class="c-homesplit">
        <div class="c-homesplit__science">

          <div class="c-card">
            <div class="c-card__media"><a href="/{{ locale }}/science/">
              <img src="/assets/img/databases/_600x450/database_science.jpg"
                  srcset="/assets/img/databases/_600x450/database_science.jpg 600w,
                          /assets/img/databases/database_science.jpg 800w"
                  sizes="(min-width: 1344px) 600px,
                         (min-width: 500px) 50vw,
                         100vw"
                  width="800"
                  height="600"
                  class="o-fluidimage"
                  alt="Database science">
            </a></div>
            <div class="c-card__body">
              <h2 class="c-card__title  c-h2  c-h2--invert"><a href="/{{ locale }}/science/">Littérature scientifique</a></h2>
              <p class="c-text-gray5">Une base de données d'articles scientifiques, de livres académiques, de communications de colloques, de rapports d'institutions publiques et indépendantes.</p>
              <p><a class="c-button  c-button--invert  c-button--cta" href="/{{ locale }}/science/">Bib.Collapse</a></p>
            </div>
          </div>

        </div>
        <div class="c-homesplit__press">

          <div class="c-card">
            <div class="c-card__media"><a href="https://obsant.eu/veille/">
              <img src="/assets/img/databases/_600x450/database_press.jpg"
                   srcset="/assets/img/databases/_600x450/database_press.jpg 600w,
                           /assets/img/databases/database_press.jpg 800w"
                   sizes="(min-width: 1344px) 600px,
                          (min-width: 1024px) 38vw,
                          (min-width: 500px) 50vw,
                          100vw"
                   width="800"
                   height="600"
                   class="o-fluidimage"
                   alt="Database presse">
            </a></div>
            <div class="c-card__body">
              <h2 class="c-card__title  c-h2  c-h2--invert"><a href="https://obsant.eu/veille/">Presse et autres médias</a></h2>
              <p class="c-text-gray5">Une docuthèque animée par l'<em>Observatoire de l'Anthropocène</em> : dépèches, articles, opinions, fiches info, vidéos, etc.</p>
              <p><a class="c-button  c-button--invert  c-button--cta" href="https://obsant.eu/veille/">Observatoire<span class="c-icon  c-icon--after  c-icon--small">{% include "svg/icon_external.svg" %}</span></a></p>
            </div>
          </div>

        </div>
      </div>

    </div>
  </section>

  <section class="c-pagesection  c-pagesection--border">
    <div class="l-container  l-split  l-split--1fr3fr">
      <div>

        <h2 class="c-h2  u-margin-bottom-none">Livres</h2>
        <p class="u-text-gray3  u-margin-bottom-xxl">Bilbliothèque collapso</p>

      </div>
      <div>

        {% set books = collections.books_fr | limit(6) %}
        {% for book in books %}
          {% if loop.first %}<ul class="l-grid  l-grid--gap  l-grid--2cols@small  l-grid--3cols@medium">{% endif %}

            <li>
              {{ bookItem(
                url = book.data.url, 
                cover = book.data.cover, 
                title = book.data.title,
                author = book.data.author, 
                editor = book.data.editor, 
                year = book.data.year
              ) }}
            </li>

          {% if loop.last %}</ul>{% endif %}
        {% endfor %}

        <p class="u-margin-top-l"><a class="c-ctalink" href="/{{ locale }}/livres/">Découvrir tous les livres</a></p>

      </div>
    </div>
  </section>

  <section class="c-pagesection  c-pagesection--border">
    <div class="l-container  l-split  l-split--1fr3fr">
      <div>

        <h2 class="c-h2  u-margin-bottom-none">Sites et liens</h2>
        <p class="u-text-gray3  u-margin-bottom-xxl">Collapso online</p>

      </div>
      <div>

        {% set links = collections.links_fr | shuffle | limit(6) %}
        {% for link in links %}
          {% if loop.first %}<ul class="l-grid  l-grid--colgap  l-grid--rowgap-s  l-grid--2cols@medium">{% endif %}
            <li>
              {{ linkItem(
                url = link.data.url,
                title = link.data.title,
                content = link.templateContent | safe
              ) }}
            </li>
          {% if loop.last %}</ul>{% endif %}
        {% endfor %}

        <p class="u-margin-top-l"><a class="c-ctalink" href="/{{ locale }}/liens/">Découvrir tous les liens</a></p>

      </div>
    </div>
  </section>


</main>
{% endblock %}
