---
permalink: /{{ locale }}/science/index.html
translationKey: "sciencePage"
pageTitle: "Database scientifique"
pageIntro: "Articles scientifiques, livres et chapitres de livres universitaires, communications de colloques, rapports d’institutions publiques et d'organisations indépendantes."
---

{% extends "layouts/base.njk" %}

{% set metaTitle = pageTitle %}
{% set metaDescription = pageIntro %}
{% set metaImage = site.baseUrl ~ "/assets/img/social_media.jpg" %}
{% set currentSectionId = "science" %}

{% block headend %}
  <script type="module" src="/assets/js/app.bundle.js"></script>
{% endblock %}

{% block content %}
  <main>
    {#
      Warning:
      use only x-text with Alpine
      to avoid collision with nunjucks rendering
    #}
    <div x-data="zotero" x-effect="getRecords()">

      <div class="c-pagesection  c-pagesection--dark  u-padding-top-xl">
        <div class="l-container  l-container--narrow">
          <h1 class="c-h1  u-text-white">{{ pageTitle }}</h1>
          <p class="c-pageintro">{{ pageIntro }}</p>
          <h2 class="u-hide">Recherche</h2>
          <form class="c-searchform" @submit.prevent="setSearch()">
            <div class="c-searchform__field">
              <input class="c-searchform__input" type="search" x-model="searchQuery">
              <input class="c-searchform__reset" @click="clearSearch()" type="reset" x-show="q.length > 0" value="effacer">
              <input class="c-searchform__submit" type="submit" x-show="q.length === 0" value="go">
            </div>
          </form>
        </div>
      </div>

      <div class="c-pagesection">
        <div class="l-container  l-container--narrow">

          <div class="c-filters">
            <div class="c-filters__controls">
              <button class="c-button  c-button--secondary"
                      @click="filtersOpen = !filtersOpen"
                      id="filtersButton"
                      :aria-expanded="filtersOpen"
                      aria-controls="filtersBody">
                Filtrer par tag
                <span class="c-icon  c-icon--small" aria-hidden="true">{% include "svg/icon_filters.svg" %}</span>
              </button>
            </div>
            <div class="c-filters__body" x-show="filtersOpen" id="filtersBody" aria-labelledby="panelTagsControl">

              <ul x-show="tags.length" class="c-tagcloud">
                <li class="c-tagcloud__item">
                  <a class="c-tagcloud__link" :class="{ 'is-active': currentTag === '' }" href="#" @click.prevent="clearTag()">Tous</button></a>
                </li>
                <template x-for="(item, index) in tags" :key="index">
                  <li class="c-tagcloud__item">
                    <a class="c-tagcloud__link" href="#"
                      @click.prevent="setTag(item.id)"
                      :class="item.id === currentTag ? 'is-active' : ''"
                      x-text="item.name"></a>
                  </li>
                </template>
              </ul>
              <p x-show="!tags.length">Chargement des tags</p>

            </div>
          </div>

          <div x-show="loadingRecords" class="c-message">
            <div class="c-message__icon" aria-hidden="true">{% include "svg/spinner.svg" %}</div>
            <div class="c-message__text">
              <p>Recherche dans la base de données</p>
            </div>
          </div>

          <p x-show="!loadingRecords && totalRecords === 0">Pas de résultats</p>

          <div x-show="!loadingRecords && totalRecords > 0">

              <p x-text="totalRecords + ' références'"></p>

              <ul class="c-listui">
                <template x-for="item in records" :key="item.id">
                  <li>
                    <article class="c-record">
                      <p class="c-record__meta">
                        <span class="c-record__type" x-text="item.type.fr"></span><!--
                     --><span class="c-record__author" x-show="item.author" x-text="` - ${item.author}`"></span><!--
                     --><span class="c-record__publication" x-show="item.publication" x-text="` - ${item.publication}`"></span><!--
                     --><span class="c-record__institution" x-show="item.institution" x-text="` - ${item.institution}`"></span><!--
                     --><span class="c-record__year" x-show="item.year" x-text="`, ${item.year}`"></span>
                      </p>
                      <h2 class="c-record__title  c-h3" x-show="item.title && !item.url" x-text="item.title"></h2>
                      <h2 class="c-record__title  c-h3" x-show="item.title && item.url"><a :href="item.url" x-text="item.title"></a></h2>
                      <ul class="c-record__tags" x-show="item.tags.length">
                        <template x-for="(tag, index) in item.tags" :key="index">
                          <li class="c-record__tag" x-text="tag"></li>
                        </template>
                      </ul>
                      <details class="c-record__summary" x-show="item.summary" closed>
                        <summary class="c-record__summary-trigger">Afficher le résumé</summary>
                        <p class="c-record__summary-content" x-text="item.summary"></p>
                      </details>

                    </article>
                  </li>
                </template>
              </ul>

              <div class="c-pagination  c-pagination--noborder">
                <nav class="c-pagination__nav" aria-label="pagination">
                  <ul class="c-pager">
                    <li class="c-pager__item"><button class="c-pager__button" @click="getFirstPage()" :disabled="currentPage === 1" aria-label="première page">{% include "svg/pagination_first.svg" %}</button></li>
                    <li class="c-pager__item"><button class="c-pager__button" @click="getPrevPage()" :disabled="currentPage === 1" aria-label="page précédente">{% include "svg/pagination_prev.svg" %}</button></li>
                    <li class="c-pager__item"><button class="c-pager__button" @click="getNextPage()" :disabled="currentPage === totalPages" aria-label="page suivante">{% include "svg/pagination_next.svg" %}</button></li>
                    <li class="c-pager__item"><button class="c-pager__button" @click="getLastPage()" :disabled="currentPage === totalPages" aria-label="dernière page">{% include "svg/pagination_last.svg" %}</button></li>
                  </ul>
                  <p class="c-pagecounter">page <span x-text="currentPage"></span> / <span x-text="totalPages"></span></p>
                </nav>
              </div>

          </div>

        </div>
      </div>

    </div>
  </main>
{% endblock %}
