---
permalink: /{{ locale }}/science/index.html
translationKey: "sciencePage"
pageTitle: "Database scientifique"
pageIntro: "Articles scientifiques, livres et chapitres de livres universitaires, communications de colloques, rapports d’institutions publiques et d'organisations indépendantes."
---

{% extends "layouts/base.njk" %}

{% set metaTitle = pageTitle %}
{% set metaDescription = pageIntro %}
{% set metaImage = site.baseUrl ~ "/assets/img/social_media.jpg" %}
{% set currentSectionId = "science" %}

{% block headend %}
  <script type="module" src="/assets/js/app.bundle.js"></script>
{% endblock %}

{% block content %}
  <main>
    {#
      Warning:
      use only v-text / v-html with petite-vue
      to avoid collision with nunjucks rendering
    #}
    <div id="app" v-scope @vue:mounted="fetchTags()" v-effect="fetchRecords()">

      <div class="c-pagesection  c-pagesection--dark  u-padding-top-xl">
        <div class="l-container  l-container--narrow">
          <h1 class="c-h1  u-text-white">{{ pageTitle }}</h1>
          <p class="c-pageintro">{{ pageIntro }}</p>
          <h2 class="u-hide">Recherche</h2>
          <form class="c-searchform" @submit.prevent="setSearch()">
            <div class="c-searchform__field">
              <input class="c-searchform__input" type="search" v-model="needle">
              <input class="c-searchform__submit" type="submit" value="go" v-show="searchQuery.length === 0">
              <input @click="clearSearch()" class="c-searchform__reset" type="reset" v-show="searchQuery.length > 0" value="effacer">
            </div>
          </form>
        </div>
      </div>

      <div class="c-pagesection">
        <div class="l-container  l-container--narrow">

          <div v-if="!loading" class="c-filters">
            <div class="c-filters__controls">
              <button @click="filtersOpen = !filtersOpen" aria-controls="filtersBody" aria-expanded="filtersOpen = !filtersOpen" class="c-button  c-button--secondary">Filtrer par tag <span class="c-icon  c-icon--small" aria-hidden="true">{% include "svg/icon_filters.svg" %}</span></button>
            </div>
            <div id="filtersBody" class="c-filters__body" :class="{ 'is-open': filtersOpen }">

              <ul v-if="tags.length > 0" class="c-tagcloud">
                <li class="c-tagcloud__item"><a class="c-tagcloud__link" :class="{ 'is-active': currentTag === '' }" href="#" @click.prevent="clearTag()">Tous</a></li>
                <li v-for="tag in tags" :key="tag.id" class="c-tagcloud__item"><a class="c-tagcloud__link" :class="{ 'is-active': currentTag === tag.id }" href="#" @click.prevent="setTag(tag.id)" v-text="tag.name"></a></li>
              </ul>
              <p v-else>Pas de tags</p>

            </div>
          </div>

          <div v-if="loading" class="c-message">
            <div class="c-message__icon">{% include "svg/spinner.svg" %}</div>
            <div class="c-message__text">
              <p>Recherche dans la base de données</p>
            </div>
          </div>

          <p v-if="!loading && totalRecords === 0">Pas de résultats</p>
          <div v-if="!loading && totalRecords > 0">
            <div>
              <p v-text="totalRecords + ' références'"></p>
              <ul class="c-listui">
                <li v-for="item in records" :key="item.id">
                  <article class="c-record">
                    <p class="c-record__meta">
                      <span class="c-record__type" v-text="item.type.fr"></span><span v-if="item.author" class="c-record__author" v-text="' - ' + item.author"></span><span v-if="item.publication" class="c-record__publication" v-text="' - ' + item.publication"></span><span v-if="item.institution" class="c-record__institution" v-text="' - ' + item.institution"></span><span v-if="item.year" class="c-record__year" v-text="', ' + item.year"></span>
                    </p>
                    <h2 class="c-record__title  c-h3">
                      <template v-if="item.url !== ''">
                        <a :href="item.url" target="_blank" v-text="item.title"></a>
                      </template>
                      <template v-else>
                        <span v-text="item.title"></span>
                      </template>
                    </h2>
                    <p class="c-tags" v-html="item.tags"></p>
                    <details v-if="item.summary" class="c-record__summary" closed>
                      <summary class="c-record__summary-trigger">Afficher le résumé</summary>
                      <div class="c-record__summary-content" v-text="item.summary"></div>
                    </details>
                  </article>
                </li>
              </ul>
            </div>
            <div class="c-pagination  c-pagination--noborder">
              <nav>
                <ul class="c-pager">
                  <li class="c-pager__item">
                    <button class="c-pager__button" @click="firstPage()" :disabled="currentPage === 1">{% include "svg/pagination_first.svg" %}</button>
                  </li>
                  <li class="c-pager__item">
                    <button class="c-pager__button" @click="prevPage()" :disabled="currentPage === 1">{% include "svg/pagination_prev.svg" %}</button>
                  </li>
                  <li class="c-pager__item">
                    <button class="c-pager__button" @click="nextPage()" :disabled="currentPage === totalPages">{% include "svg/pagination_next.svg" %}</button>
                  </li>
                  <li class="c-pager__item">
                    <button class="c-pager__button" @click="lastPage()" :disabled="currentPage === totalPages">{% include "svg/pagination_last.svg" %}</button>
                  </li>
                </ul>
              </nav>
              <p class="c-pagecounter">Page <span v-text="currentPage"></span>/<span v-text="totalPages"></span></p>
            </div>
          </div>

        </div>
      </div>

    </div>
  </main>
{% endblock %}
