{% macro bookItem(url, cover, title, author, editor, year) %}

  {% set jpgCover = cover %}
  {% set webpCover = cover | setFileExtension("webp") %}

  <article class="c-book">
    <div class="c-book__cover"><a href="{{- url -}}">
    <picture>
      <source type="image/webp"
              srcset="/assets/img/books/_300x480/{{ webpCover }} 300w,
                      /assets/img/books/{{ webpCover }} 600w"
              sizes="(min-width: 1350px) 300px,
                     (min-width: 1024px) 25vw,
                     (min-width: 750px) 33vw,
                     (min-width: 500px) 50vw,
                     100vw">
      <img src="/assets/img/books/_300x480/{{ jpgCover }}"
           srcset="/assets/img/books/_300x480/{{ jpgCover }} 300w,
                   /assets/img/books/{{ jpgCover }} 600w"
           sizes="(min-width: 1350px) 300px,
                  (min-width: 1024px) 25vw,
                  (min-width: 750px) 33vw,
                  (min-width: 500px) 50vw,
                  100vw"
           class="o-fluidimage"
           alt="{{ title }}"
           loading="lazy"
           decoding="async">
      </picture>
    </a></div>
    <div class="c-book__body">
      <p class="c-book__author">{{ author }}</p>
      <h3 class="c-book__title  c-h4"><a href="{{- url -}}">{{ title }}</a></h3>
      <p class="c-book__data">{{ editor }} - {{ year }}</p>
    </div>
  </article>
{% endmacro %}