{% macro bookItem(url, cover, title, author, editor, year) %}
  <article class="c-book">
    <div class="c-book__cover"><a href="{{- url -}}">
      <img src="/assets/img/books/_300x480/{{ cover }}"
            srcset="/assets/img/books/_300x480/{{ cover }} 300w,
                    /assets/img/books/{{ cover }} 600w"
            sizes="(min-width: 1344px) 300px,
                  (min-width: 1024px) 25vw,
                  (min-width: 750px) 33vw,
                  (min-width: 500px) 50vw,
                  100vw"
            class="o-fluidimage"
            alt="{{ title }}"
            loading="lazy">
    </a></div>
    <div class="c-book__body">
      <p class="c-book__author">{{ author }}</p>
      <h3 class="c-book__title  c-h4"><a href="{{- url -}}">{{ title }}</a></h3>
      <p class="c-book__data">{{ editor }} - {{ year }}</p>
    </div>
  </article>
{% endmacro %}