.c-mobilemenu {
  overflow-y: auto;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 9999;
  background-color: var(--color-primary-main);
  color: var(--color-gray1);
}

.c-mobilemenu__inner {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;

  @include mq(xlarge) {
    height: auto;
    display: block;
  }
}

.c-mobilemenu__header {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @include mq(small) {
    padding-top: 42px;
  }

  @include mq(medium) {
    padding-top: 60px;
  }

  @include mq(large) {
    padding-top: 90px;
  }
}

.c-mobilemenu__navigation {
  padding-bottom: 60px;

  @include mq(large) {
    padding-bottom: 24px;
  }
}

.c-mobilemenu__languages {
  padding-bottom: 30px;
}

// --------------------------------
// =handle toogle
// --------------------------------

.c-mobilemenu {
  display: none;
  will-change: transform, opacity;
}

.c-mobilemenu.is-active {
  display: block;
  animation: 0.2s appearFromBottomLarge both;

  @include mq(large) {
    display: none;
  }
}
