// --------------------------------
// =pagination
// --------------------------------

.c-pagination {
  margin-top: calc(42 / 16 * 1rem);
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  padding-top: calc(30 / 16 * 1rem);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.c-pagination--noborder {
  margin-top: 0;
  padding-top: calc(42 / 16 * 1rem);
  border-top: none;
}

.c-pagination__nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: calc(6 / 16 * 1rem);
}

.c-pager {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: calc(3 / 16 * 1rem);
}

.c-pager__link,
.c-pager__button {
  padding: 0;
  margin: 0;
  border: 0;
  cursor: pointer;
  background-color: none;
  color: var(--color-gray6);

  &:hover,
  &:focus {
    color: var(--color-primary-main);
  }
}

.c-pager__nolink,
.c-pager__button:disabled {
  cursor: not-allowed;
  opacity: 0.54;
  color: var(--color-gray6);
}

.c-pager__button svg,
.c-pager__link svg,
.c-pager__nolink svg {
  vertical-align: middle;
}

.c-pagecounter {
  margin: 0 0 0 calc(18 / 16 * 1rem);
  padding: 0;
  font-size: 1rem;
  line-height: 1;
}
