// --------------------------------
// =filters
// --------------------------------

@keyframes appear {
  0% {
    opacity: 0;
    transform: translate3d(0, -12px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.c-filters {
  margin-bottom: 1.5rem;
}

.c-filters__controls {
  text-align: right;
}

.c-filters__body {
  display: none;
  padding-top: calc(24 / 16 * 1rem);
}

.c-filters__body.is-open {
  display: block;
  animation: appear 0.2s ease-out both;
}
