<!DOCTYPE html>
<html lang="{{ locale }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% if metaTitle %}{{ metaTitle }} - {% endif %}{{ site[locale].title }}</title>
    <meta name="description" content="{{ metaDescription }}">
    <meta name="generator" content="{{ eleventy.generator }}">

    <!-- Preloads -->
    <link rel="preload" href="/assets/fonts/crimson-text-600.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/fonts/crimson-text-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/fonts/lato-300.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/fonts/lato-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/fonts/lato-italic.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/fonts/lato-700.woff2" as="font" type="font/woff2" crossorigin>

    <!-- Twitter + Open Graph -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="{{ site.twitterHandle }}" />
    <meta property="og:url" content="{{ site.baseUrl ~ page.url }}" />
    <meta property="og:title" content="{{ metaTitle }}" />
    <meta property="og:description" content="{{ metaDescription }}" />
    <meta property="og:image" content="{{ metaImage }}" />

    <!-- Apple icon (minimal) -->
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/main.css">

    <!-- JS -->
    <script type="module" src="/assets/js/main.bundle.js"></script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-84VH0QGZ15"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-84VH0QGZ15');
    </script>

    {# end of head block for script injection #}
    {% block headend %}{% endblock %}
  </head>
  <body>
    {% include "partials/siteheader.njk" %}
    {% include "partials/mobilemenu.njk" %}
    {% block content %}{% endblock %}
    {% include "partials/sitefooter.njk" %}
  </body>
</html>