---
permalink: /index.html
---
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Refresh" content="0; url=/fr/" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portail de Collapsologie</title>
  </head>
  <body>
    <p>Veuillez suivre <a href="/fr/">ce lien</a>.</p>
  </body>
</html>
