---
permalink: /sitemap.xml
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {% for item in collections.all | reverse -%}
    {% if item.url != false and item.url != "/sitemap.xml" -%}
    <url>
      <loc>{{ site.baseUrl ~ item.url }}</loc>
      <priority>1.0</priority>
    </url>
    {%- endif -%}
  {%- endfor %}
</urlset>
