:root {
  --color-gray1: #161413;
  --color-gray2: #454342;
  --color-gray3: #737271;
  --color-gray4: #8a8989;
  --color-gray5: #a2a1a1;
  --color-gray6: #d0d0d0;
  --color-gray7: #e8e7e7;
  --color-gray8: #f3f3ff;

  // 777676

  --color-primary-main: #86c885;
  --color-primary-dark: #629462;
  --color-primary-bright: #a7de87;
  --color-primary-washed: #cfe9ce;

  --color-white: #ffffff;
  --color-black: #000000;
}
