<nav class="c-siteheader__nav">
  {% for item in mainnav %}
    {% if loop.first %}<ul class="c-mainnav">{% endif %}

      {% set activeClass = "" %}
      {% set activeAria = "" %}
      {% if item.id == currentSectionId %}
        {% set activeClass = "is-active" %}
        {% set activeAria = 'aria-current="page"' | safe %}
      {% endif %}

      <li class="c-mainnav__item"><a href="{{- item[locale].link -}}" class="c-mainnav__link  {{ activeClass }}" {{ activeAria }}>{{ item[locale].label }}</a></li>
    {% if loop.last %}</ul>{% endif %}
  {% endfor %}
</nav>